body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}
.login-box input, .login-box button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
